<li>
  <%= gravatar_for user, size: Settings.gravatar.list_size %>
  <%= link_to user.name, user %>
  <% if can_destroy_user? user %>
    | <%= link_to t("all_user.delete"), user, data: { "turbo-method": :delete,
                                          turbo_confirm: t("all_user.confirm_delete") } %>
  <% end %>
</li>
